## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
#Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df =  application_df.drop(columns=["EIN","NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type = application_df['APPLICATION_TYPE'].value_counts()
application_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_type[application_type < 528].index


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_col = application_df["CLASSIFICATION"].value_counts()
classification_col

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_col[classification_col > 777]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace =  classification_col[classification_col < 1918].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     4144
C3000     1918
Name: count, dtype: int64

In [9]:
#Cheaking datatypes
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
numerical_columns = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION', 'USE_CASE','ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']
application_encoded = pd.get_dummies(application_df[numerical_columns], dtype='int')

# Merge application_encoded and application_df
application_df = application_df.merge(application_encoded, left_index=True, right_index=True)

# Drop the original categorical columns from application_df
application_df = application_df.drop(numerical_columns, axis=1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'], axis=1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer_1 = 100
hidden_nodes_layer_2 = 80
hidden_nodes_layer_3 = 50
hidden_nodes_layer_4 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer_1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer_2, activation="relu"))

#Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer_3, activation="relu"))

# #Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer_4, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_14 (Dense)                │ (None, 100)            │         4,300 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_15 (Dense)                │ (None, 80)             │         8,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_16 (Dense)                │ (None, 50)             │         4,050 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_17 (Dense)                │ (None, 1)              │            51 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 16,481 (64.38 KB)

 Trainable params: 16,481 (64.38 KB)

 Non-trainable params: 0 (0.00 B)

In [30]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [33]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=52)

Epoch 1/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 529us/step - accuracy: 0.7371 - loss: 0.5447
Epoch 2/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 562us/step - accuracy: 0.7348 - loss: 0.5425
Epoch 3/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.7394 - loss: 0.5390
Epoch 4/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.7353 - loss: 0.5436
Epoch 5/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 625us/step - accuracy: 0.7385 - loss: 0.5396
Epoch 6/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.7379 - loss: 0.5432
Epoch 7/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.7362 - loss: 0.5418
Epoch 8/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 526us/step - accuracy: 0.7391 - loss: 0.5430
Epoch 9/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - accuracy: 0.7405 - loss: 0.5379
Epoch 10/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 525us/step - accuracy: 0.7371 - loss: 0.5389
Epoch 11/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - accuracy: 0.7377 - loss: 0.5425
Epoch 12/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.7361 - loss: 0.5428
Epoch 13/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 556us/step - accuracy: 0.7375 - loss: 0.5397
Epoch 14/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.7416 - loss: 0.5367
Epoch 15/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.7433 - loss: 0.5316
Epoch 16/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.7371 - loss: 0.5394
Epoch 17/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.7372 - loss: 0.5438
Epoch 18/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.7384 - loss: 0.5403
Epoch 19/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 521us/step - accuracy: 0.7397 - loss: 0.5394
Epoch 20/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.7373 - loss: 0.5407
Epoch 21/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 496us/step - accuracy: 0.7405 - loss: 0.5381
Epoch 22/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - accuracy: 0.7376 - loss: 0.5415
Epoch 23/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 496us/step - accuracy: 0.7417 - loss: 0.5395
Epoch 24/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - accuracy: 0.7384 - loss: 0.5391
Epoch 25/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step - accuracy: 0.7376 - loss: 0.5382
Epoch 26/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.7358 - loss: 0.5406
Epoch 27/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 496us/step - accuracy: 0.7372 - loss: 0.5416
Epoch 28/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.7407 - loss: 0.5383
Epoch 29/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - accuracy: 0.7415 - loss: 0.5388
Epoch 30/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 548us/step - accuracy: 0.7411 - loss: 0.5383
Epoch 31/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - accuracy: 0.7373 - loss: 0.5390
Epoch 32/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.7363 - loss: 0.5393
Epoch 33/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.7394 - loss: 0.5396
Epoch 34/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - accuracy: 0.7440 - loss: 0.5363
Epoch 35/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 824us/step - accuracy: 0.7353 - loss: 0.5439
Epoch 36/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.7374 - loss: 0.5387
Epoch 37/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 501us/step - accuracy: 0.7383 - loss: 0.5390
Epoch 38/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.7430 - loss: 0.5342
Epoch 39/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.7431 - loss: 0.5348
Epoch 40/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - accuracy: 0.7412 - loss: 0.5364
Epoch 41/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 527us/step - accuracy: 0.7346 - loss: 0.5404
Epoch 42/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 519us/step - accuracy: 0.7413 - loss: 0.5388
Epoch 43/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.7369 - loss: 0.5394
Epoch 44/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.7420 - loss: 0.5351
Epoch 45/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - accuracy: 0.7349 - loss: 0.5418
Epoch 46/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 520us/step - accuracy: 0.7451 - loss: 0.5286
Epoch 47/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 496us/step - accuracy: 0.7465 - loss: 0.5312
Epoch 48/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - accuracy: 0.7422 - loss: 0.5322
Epoch 49/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - accuracy: 0.7398 - loss: 0.5347
Epoch 50/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 490us/step - accuracy: 0.7392 - loss: 0.5395
Epoch 51/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 490us/step - accuracy: 0.7419 - loss: 0.5366
Epoch 52/52
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step - accuracy: 0.7415 - loss: 0.5367

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 549us/step - accuracy: 0.7243 - loss: 0.5576
Loss: 0.5575792193412781, Accuracy: 0.7243148684501648

In [17]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization_1.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.